#! /bin/sh
### BEGIN INIT INFO
# Provides:          dkumonitor
# Required-Start:    $network 
# Required-Stop:     $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start zabbix-agent daemon
### END INIT INFO

set -e

# Read configuration file, nothing to do if none
# Should contain following configuration variables:
# DKU_MONITOR_HOME=<installation directory>
# DKU_MONITOR_USER=<user account>
DKU_MONITOR_HOME={{dkumonitor_home}}
DKU_MONITOR_USER={{dkumonitor_user}}

start() {
        echo "Dkumonitor : starting Dataiku monitor."
        su - "$DKU_MONITOR_USER" -c "$DKU_MONITOR_HOME/bin/dkm start"
}

stop() {
        echo "Dkumonitor : stopping Dataiku DSS."
        su - "$DKU_MONITOR_USER" -c "$DKU_MONITOR_HOME/bin/dkm stop"
}

status() {
        su - "$DKU_MONITOR_USER" -c "$DKU_MONITOR_HOME/bin/dkm status"
}

case "$1" in
        start)
                start
                ;;

        stop)
                stop
                ;;

        restart)
                stop || true
                start
                ;;

        status)
                status
                ;;

        *)
                echo "Usage: $0 {start|stop|restart|status}" >&2
                exit 1
                ;;
esac

exit 0
