[supervisord]
directory = %(ENV_DKUMONITOR_HOME)s/run
pidfile = %(ENV_DKUMONITOR_HOME)s/run/svd.pid
logfile = %(ENV_DKUMONITOR_HOME)s/run/svd.log

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[unix_http_server]
file = %(ENV_DKUMONITOR_HOME)s/run/svd.sock
username = dkumonitor
password = dkumonitor

[supervisorctl]
serverurl = unix://%(ENV_DKUMONITOR_HOME)s/run/svd.sock
username = dkumonitor
password = dkumonitor

{% if install_type == 'all' or install_type == 'server' or install_type == 'backend' or install_type == 'backend_agent' %}
[program:go-carbon]
directory = %(ENV_DKUMONITOR_HOME)s
command = %(ENV_DKUMONITOR_HOME)s/bin/dkumonitor run %(program_name)s
stdout_logfile = %(ENV_DKUMONITOR_HOME)s/run/%(program_name)s-out.log
redirect_stderr = true
autorestart = true
startsecs = 10
stopasgroup = true

[program:carbonapi]
directory = %(ENV_DKUMONITOR_HOME)s
command = %(ENV_DKUMONITOR_HOME)s/bin/dkumonitor run %(program_name)s
stdout_logfile = %(ENV_DKUMONITOR_HOME)s/run/%(program_name)s-out.log
redirect_stderr = true
autorestart = true
startsecs = 10
stopasgroup = true
{% endif %}

{% if install_type == 'all' or install_type == 'server' or install_type == 'frontend' %}
[program:grafana-server]
directory = %(ENV_DKUMONITOR_HOME)s
command = %(ENV_DKUMONITOR_HOME)s/bin/dkumonitor run %(program_name)s
stdout_logfile = %(ENV_DKUMONITOR_HOME)s/run/%(program_name)s-out.log
redirect_stderr = true
autorestart = true
startsecs = 10
stopasgroup = true
{% endif %}

{% if install_type == 'all' or install_type == 'agent' or install_type == 'backend-agent' %}
[program:collectd]
directory = %(ENV_DKUMONITOR_HOME)s
{% if system_collectd -%}
command = %(ENV_DKUMONITOR_HOME)s/bin/dkumonitor run %(program_name)s
{%- else -%}
command = %(ENV_DKUMONITOR_ROOT)s/bin/collectd -f -C conf/collectd.conf
{%- endif %}
stdout_logfile = %(ENV_DKUMONITOR_HOME)s/run/%(program_name)s-out.log
redirect_stderr = true
autorestart = true
startsecs = 10
stopasgroup = true
{% endif %}
